.navbar{
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
    height: 5vh;

    padding: 2vh;

    background-color: beige;
}

.taskButton{
    padding: 15px;
    transform: scale(1.5);
}